.container {
  display: grid;
  grid-template-areas: 
  'a a'
  'b b'
  'c c'
  'd f'
  'e e';
  overflow: hidden;
}



.videoWrapper {
  grid-area: 1 / 1 / 6 / 3;
  display: flex;
  position: relative;
}

.video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.logo {
  grid-area: 1 / 1 / 3 / 3;
  place-self: center;
    height: auto;
    width: 25%;
    align-items: center;
    justify-content: center;
    mix-blend-mode: overlay;
}
.intro {
  grid-area: 4 / 1 / 4 / 3;
  place-self: center;
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  color: var(--purple-100);
  font-size: var(--text-display);
  z-index: 3;
}

.subtitle {
  grid-area: 5 / 1 / 5 / 3;
  place-self: center;
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  color: var(--purple-100);
  font-size: var(--text-sub-display);
  z-index: 3;
}



.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut > strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}
