.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
}

.header {
  display: grid;
  width: 100%;
  padding: var(--size-gap) var(--size-gutter);
  grid-template-columns: var(--size-input) 1fr min-content min-content;
  grid-template-areas: "logo nada searchButton cartButton" "navHeader navHeader navHeader navHeader";
  align-items: center;
  background: linear-gradient(90deg, rgba(0,32,7,1) 0%, rgba(9,9,121,1) 46%, rgba(152,23,141,1) 74%, rgba(2,0,94,1) 100%);
}

.header::after {
  grid-area: navHeader;
  content: "";
  display: block;
  width: var(--space-2xl);
  z-index: 1;
  align-self: stretch;
  justify-self: flex-end;
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: "logo navHeader searchButton cartButton";
  }
}

.logo {
  color: var(--white);
  width: 24px;
}


.logo * path {
  fill: antiquewhite;
  width: 32px;
}

.logo:hover {
  color: var(--white);
  text-decoration: none;
}

.logo[aria-current="page"] {
  color: var(--white);
}

.nav {
  grid-area: navHeader;
  align-self: stretch;
}

.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: var(--text-color);
}

.searchButton[aria-current="page"] {
  color: var(--primary);
}
