.productCardStyle {
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
  padding: var(--space-md);
  background-color: var(--white);
  border-radius: var(--radius-md);
  transition: all ease-out 100ms;
}

.productCardStyle:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-15);
  border: .1em solid var(--purple-100);
  border-radius: var(--radius-md);
  transition: all ease-in 200ms;
}

.productImageStyle {
  margin: var(--space-lg);

}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}
