.productCardStyle {
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
  padding: var(--space-lg);
  background-color: rgb(240, 238, 238);
  border-radius: var(--radius-md);
  transition: all ease-in 200ms;
  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.306);
}

.productCardStyle:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-15);
  background-color: rgb(247, 247, 251);
  border: .2em solid rgb(157, 157, 157);
  border-radius: var(--radius-md);
  transition: all ease-in 200ms;
}

.productImageStyle {
  margin: var(--space-lg);

}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}
