.container {
  display: grid;
  grid-template-areas: 
  'a a'
  'b b'
  'c c'
  'd f'
  'e e';
  overflow: hidden;
}


.overlay {
  grid-area: 1 / 1 / 6 / 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(30,215,71,1) 0%, rgba(9,9,121,1) 46%, rgba(214,3,197,1) 74%, rgba(0,212,255,1) 100%);
  mix-blend-mode: overlay;
  z-index: 3;
}

.videoWrapper {
  grid-area: 1 / 1 / 6 / 3;
  display: flex;
  position: relative;
}

.video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}



.logo {
  color: var(--white);
  grid-area: 1 / 1 / 3 / 3;
  place-self: center;
    height: auto;
    width: 25%;
    align-items: center;
    justify-content: center;
    mix-blend-mode: overlay;
    z-index: 12;
}
.intro {
  grid-area: 4 / 1 / 4 / 3;
  place-self: center;
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  color: var(--purple-100);
  font-size: var(--text-display);
  z-index: 3;
}

.subtitle {
  grid-area: 5 / 1 / 5 / 3;
  place-self: center;
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  color: var(--purple-100);
  font-size: var(--text-sub-display);
  z-index: 3;
}